.class{
    background-color:#e7b902;
    background-color:#9704aa;
    background-color:#ae29cc;
    background-color:rgba(255, 183, 1, 0.75);
}

.class2{
    background-color:#049faa;
    background-color:#9704aa;
    background-color:#ae29cc;
    background-color:rgba(255, 183, 1, 0.75);
}